
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3" style="border:1px solid red;">
                aaaaaaa
            </div>
            <div class="col-sm-3 col-sm-pull-9" style="border:1px solid blue;">
                bbbbbbbb
            </div>
        </div>

    </div>


    </div>
</body>
</html>
